### Question.3

### 3.1)
#### Data

- This dataset includes the number of passengers passing through the sea piers in Istanbul. 
- Since our file is of csv type, we obtain our data using urlopen() and pd.read_csv() as in the 2nd question.

#### Code

- Importing our libraries

In [1]:
import pandas as pd
from urllib.request import urlopen

- In our data, the year, month, operators of the vehicles, station name and number of passengers are available in order.

In [2]:
link="https://data.ibb.gov.tr/dataset/20f33ff0-1ab3-4378-9998-486e28242f48/resource/6fbdd928-8c37-43a4-8e6a-ba0fa7f767fb/download/istanbul-deniz-iskeleleri-yolcu-saylar.csv"
url=urlopen(link) 
iskele_bilgisi=pd.read_csv(url,encoding= 'unicode_escape',sep=";")
iskele_bilgisi

,Yil,Ay,Otorite Adi,Istasyon Adi,Yolcu Sayisi
0,2021,3,Beyden Deniz Ulaþým Hizmetleri Turizm ve Tic. ...,BEYKOZ,5076
1,2021,3,Beyden Deniz Ulaþým Hizmetleri Turizm ve Tic. ...,YENIKOY,5347
2,2021,3,DENTUR - AVRASYA DENÝZ TAÞ.TUR.HÝZ.ÝNÞ.SAN.TÝC...,BESIKTAS,106334
3,2021,3,DENTUR - AVRASYA DENÝZ TAÞ.TUR.HÝZ.ÝNÞ.SAN.TÝC...,KABATAS,24
4,2021,3,DENTUR - AVRASYA DENÝZ TAÞ.TUR.HÝZ.ÝNÞ.SAN.TÝC...,USKUDAR,94200
...,...,...,...,...,...
656,2021,11,TURYOL - S.S. TURÝZM VE YOLCU DENÝZ TAÞIYICILA...,Eminönü,55387
657,2021,11,TURYOL - S.S. TURÝZM VE YOLCU DENÝZ TAÞIYICILA...,Kadýköy Balon,40680
658,2021,11,TURYOL - S.S. TURÝZM VE YOLCU DENÝZ TAÞIYICILA...,Kadýköy Çayýrbaþý,69443
659,2021,11,TURYOL - S.S. TURÝZM VE YOLCU DENÝZ TAÞIYICILA...,Karaköy,55098
660,2021,11,TURYOL - S.S. TURÝZM VE YOLCU DENÝZ TAÞIYICILA...,Üsküdar,26337

### 3.2)
- We cannot use the groupby() function to find the busiest station in our final table called iskele_bilgisi. Because we were aiming to see the whole row. For this, we do column selecting the with square brackets, but we limit it to the case where it is equal to the maximum.
- Since we put ==, the equality we wrote will return us only if it is True.
- In this way, we can see the route and reach the busiest station in 2021. (We cannot reach 2020 because it is not available in our dataset.)
- Besiktas, the busiest station in 2021.

In [3]:
iskele_bilgisi[iskele_bilgisi['Yolcu Sayisi']==iskele_bilgisi['Yolcu Sayisi'].max()]

,Yil,Ay,Otorite Adi,Istasyon Adi,Yolcu Sayisi
516,2021,10,DENTUR - AVRASYA DENÝZ TAÞ.TUR.HÝZ.ÝNÞ.SAN.TÝC...,BESIKTAS,757374

### 3.3)
- We use the groupby() function to find the maximum number of passengers carried at the same time each month. Because this function gives one output instead of repeating elements like in sets.

In [4]:
res=iskele_bilgisi.groupby(['Ay'])['Yolcu Sayisi'].max()
pd.DataFrame(res)

    Yolcu Sayisi
Ay
3         106334
4         274984
5         205662
6         488048
7         590792
8         601089
9         633355
10        757374
11        223286

### 3.4)
- The busiest station in 2021 was different in the 2nd and 3rd questions. In the 2nd question: "BEBEK-ANATOLIAN HISARI-KANLICA-EMIRGAN" routeIn the third question, "Besiktas" was the busiest station.
- The conclusion I have drawn from this is as follows: I have experienced that the fact that the total number of trips is high does not make that station the busiest.